<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PET_HOTEL</title>
  </head>
  <body>
    <h1>PET HOTEL</h1>
    <div class="register">
      <h1>Owner Registration</h1>
      <input id='firstName' type="text" placeholder="First Name">
      <input id='lastName' type="text" placeholder="Last Name">
      <button id='registerOwner' type="button" >Register</button>
      </div>
      <div class="pets">
        <select class="owners" name="OwnerName">
          </select>
        <input id='petName' type="text" placeholder="Pet Name">
          <input id='color' type="text" placeholder="Color">
            <input id='breed' type="text" placeholder="Breed">
            <button id='addPet' type="button">Add Pet</button>
      </div>
  </body>
</html>
